*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

header{
  width:100%;
  height:50px;
  background-color:#FF9A4B;
}

main{
  padding:50px 0;
  display:flex;
  justify-content:center;
}

.box{
  width:90%;
  background-color:#EEEEEE;
}

.step{
  color:#fff;
  background-color:#FF9A4B;
  position:absolute;
}

.contents{
  padding:10px;
}

.img1{
  height:150px;
  background-image:url(img/flow01.png);
  background-size:cover;
}

.img2{
  height:150px;
  background-image:url(img/flow02.png);
  background-size:cover;
}

.img3{
  height:150px;
  background-image:url(img/flow03.png);
  background-size:cover;
}

h3{
  padding:15px 0 5px;
}

.box:last-child{
  margin:0;
}

footer{
  width:100%;
  height:50px;
  background-color:#AAAAAA;
}

@media screen and (max-width:768px){
  main{
    display:block;
  }

  .box{
    width:90%;
    margin:0 auto;
    margin-bottom:20px;
  }

  .box:last-child{
    margin:0 auto;
  }
}